<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="Edge.js" version="5.9.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Azure.Gallery.AzureGalleryUtility" version="5.1.0.19" targetFramework="net451" />
  <package id="Microsoft.Azure.Gallery.Common" version="5.1.0.19" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="6.4.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.4.0" targetFramework="net45" />
  <package id="Microsoft.Portal.Extensions.AAD" version="1.0.0.651" targetFramework="net45" />
  <package id="Microsoft.Portal.Extensions.Hubs" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Portal.Framework" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Portal.Security.AadCore" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Portal.Tools" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Portal.Tools.ContentUnbundler" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Portal.TypeMetadata" version="5.0.302.813" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.4.0" targetFramework="net45" />
  <package id="Microsoft.TypeScript.MSBuild" version="2.1.4" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="PowerArgs" version="2.7.1.0" targetFramework="net45" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net452" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net452" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
</packages>